RCS.Web/Connected Services/RCSService/RCSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RCS.POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RCS.POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Test">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Test" nillable="true" type="tns:Test" />
</xs:schema>